.menuContainer {
  align-items: center;
  display: flex;
  margin-left: 0.5em;
}

.menuContainer img {
  border-radius: 5%;
}

.menuItemsContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  justify-content: space-around;
  margin: auto;
  padding: 0.5em 0;
  width: 80%;
}

.menuItemsContainer a {
  color: var(--primary-dark);
  text-decoration: none;
}
