@import './global-variables.css';

body {
  background-color: var(--primary-contrast);
  font-family: 'Calibri', sans-serif;
  margin: 0;
}

h1 {
  color: var(--primary-dark);
}

/*
Remove the title on a mobile sized device as invluded on the Menu Bar
*/
@media screen and (max-width: 576px) {
  h1 {
    display: none;
  }
}

/*
Margin when screen is very wide
*/
@media screen and (min-width: 957px) {
  body {
    margin: auto;
    max-width: 956px;
  }
}
